/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap");

header {
  background-color: #004175;
  border-color: #89deef;
}

h1 {
  font-family: Oswald;
  color: white;
  text-align: left;
}

.underline {
  text-decoration: underline;
}

div.contact {
  height: 1000px;
  font-size: large;
}

div.text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: large;
  color: white;
}
div.missionStatement {
  height: 1200px;
  width: 1000px;
  text-align: justify;
}

nav {
  text-align: end;
  font-family: Open Sans;
  font-size: small;
  /* color: rgb(209, 8, 8); */
}
/* div.box {
  padding: 0;
  margin: 0;
} */
div.overlay {
  /* position: absolute; */
  /* bottom: 100%;
    left: 0;
    right: 0; */
  background-color: rgba(170, 61, 180, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  height: 158px;
  width: 450px;
}

div.box {
  margin-left: 500;
  margin-right: 500;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  width: 1200px;
}

div.subHeader {
  height: auto;
  width: auto;
  display: flex;
}

div.subDesc {
  display: flex;
}
li.traits {
  display: inline-block;
  background-color: #89deef;
  border-radius: 25px;
  border-style: solid;
  border-color: #89deef;
  border-width: 4px;
  margin: 3px;
}

div.beans {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  align-content: space-evenly;
  width: 300px;
  height: 370px;
}
div.zelda {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.baby {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.tom-tom {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.marco {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.shackleton {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.midge {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.ladybird {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}

div.mina {
  padding: 10px;
  background-color: white;
  border: solid rgb(245, 235, 235);
  width: 300px;
  height: 370px;
}
